*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    background: #000000;
}

.container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
}

h1{
    display: flex;
    justify-content: start;
    background: linear-gradient(to right, rgb(216, 216, 216), rgb(0, 0, 0));
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

footer{
    color: #fff;
}

h2, h3, h4{
    color: #000;
    background: #fff;
    border-radius: 8px;
}

h5{
    color: #000;
}

p{
    display: flex;
    justify-content: center;
    color: #efefef;
    font-size: 20px;
}

header .logo{
    background: #000000;
    color: 2px solid #000000;
    border-radius: 4px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 13px;
    width: 160px;
    margin-top: 20px;
    height: 32px;
    text-decoration: none;
}

header .logo img{
    width: 24px;
    margin-right: 11px;
    border-radius: 8px;
}

header .menu nav{
    display: flex;
    justify-content: space-between;
}

header .menu nav ul{
    display: flex;
    
}

header .menu nav ul a{
    
    padding: 20px 16px 20px 16px;
    display: flex;
    /* margin-top: 10px; */
    color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
}

header .menu nav ul a:hover{
    background: #ffffff;
    color: #000000;
    border-radius: 20px;
}

section .box{
    display: flex;
    gap: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h5{
    justify-content: start;
    background: linear-gradient(to right, rgb(216, 216, 216), rgb(0, 0, 0));
    border-radius: 6px;
    margin-top: 30px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

section .box .quti{
    border-radius: 10px;
}

button{
    padding: 8px 35px;
    background: rgb(255, 255, 255);
    color: rgb(16, 13, 13);
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    color: rgb(0, 0, 0);
    box-shadow: 0 0 15px 5px white;
    border-radius: 40px;
}

.box-1 button{
    border-radius: 40px;
}

section .box-1 button{
   margin-left: 1050px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 59px;
}

.container .box{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.container .box img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s;
}

.container .box img:hover {
    transform: scale(1.4);
}

